*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.outerdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;   
    flex-wrap: wrap;
    
}

.button{
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
    border: 1px solid yellow;
    outline: 2px solid red;
    border-radius: 50%;   

}

#black{
    background-color: black;
}

#tomato{
    background-color: tomato;
}

#violet{
    background-color: violet;
}

#blueviolet{
    background-color: blueviolet;
}

#mediumseagreen{
    background-color: mediumseagreen;
}

#dodgerblue{
    background-color: dodgerblue;
}